<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.steinhh.screencapture</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/steinhh/usr/local/src/QuickGrab/screencapture.sh</string>
  </array>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>120</integer>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/screencapture.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/screencapture.out</string>
</dict>
</plist>